<% vote = picture.user_vote(current_user) %>
<ul class="vote pull-left">
  <% if vote == 1 %>
    <li class="vote-arrow"><%= image_tag('upvoted.png') %></li>
  <% else %>
    <li class="vote-arrow"><%= link_to image_tag('not_upvoted.png'), vote_picture_path(picture, :type => :up), :method => :post %></li>
  <% end %>
  <li class="spacer"></li>
  <li class="vote-count"><%= picture.reputation_for(:votes).to_i %></li>
  <li class="spacer"></li>
  <% if vote == -1 %>
    <li class="vote-arrow"><%= image_tag('downvoted.png') %></li>
  <% else %>
    <li class="vote-arrow"><%= link_to image_tag('not_downvoted.png'), vote_picture_path(picture, :type => :down), :method => :post %></li>
  <% end %>
</ul>