<!DOCTYPE html>
<html>
<head>
  <title>ConsoleGrid</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "ConsoleGrid", root_path, :class => "brand" %>
        <%= form_tag games_path, :method => :get, :class => "navbar-search pull-left" do %>
          <input type="text" class="search-query" placeholder="Search" name="q">
        <% end %>
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Consoles<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% consoles = Console.all %>
              <% consoles.each do |console| %>
                <li><%= link_to console.name + " - " + console.shortname, console %></li>
              <% end %>
              <li>
                <a href="http://steamcommunity.com/groups/IceRM/discussions/0/666826251248041382/">
                  <small>Something missing?, post a suggestion here</small>
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav pull-right">
        

          <% if user_signed_in? %>
              <li><%= link_to current_user.email, "#" %></li><li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Sign In
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" id="login-dropdown">
                <%= form_for(:user, :url => session_path(:user)) do |f| %>
                  <%= f.text_field :email %>
                  <%= f.password_field :password %>
                  <li><label class="checkbox"><%= f.check_box :remember_me %> Remember me</label></li>
                  <li><%= f.submit 'Sign in', class: 'btn btn-block' %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Create account", new_user_registration_path %></li>
                  <li><%= link_to "Forgot your password?", new_password_path(:user) %></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>" style="margin-top:20px">
          <a class="close" data-dismiss="alert">&#215;</a>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
      <% end %>
    <% end %>
    <% num_crumbs = @breadcrumbs.count %>
    <% if num_crumbs > 1 %>
      <ul class="breadcrumb" style="margin-top:20px">
        <% @breadcrumbs.each_index do |index| %>
          <% crumb = @breadcrumbs[index] %>
          <li>
            <%= link_to crumb[:title], crumb[:link] %>
            <% if num_crumbs != index + 1 %>
              <span class="divider">></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <%= yield %>
  </div>
  <br />
  <br />
  <br />
</body>
</html>
